.content{
    /* width: 100%;
    height: 100%;
    background: red; */
    margin: -20px;
    padding: 10px;
}

.nav{
    width: 100%;
    height: 80px;
    background: #10243d;
    position: fixed;
    z-index: 100;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    color: white;
    font-size: 16px
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* background: green; */
    margin-left: -10px;
    margin-top: -10px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 12px;
}
.container{
    background: whitesmoke;
    width: 100%;
    height: 99vh;
    border: 2px solid red;
    padding-top: 90px;
    overflow-y: scroll; 
}
.categories{
    /* background: green; */
    width: 99%;
    /* height: 15%; */
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}
.categories  div{
    width: 250px;
    height: 120px;
    background: white;
    margin: auto auto;
    text-align: center;
    line-height: 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    margin: 20px auto;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.384)
}
.categories div:nth-child(1){
    background: rgba(255, 99, 132, 1);
    color: white;
}

.categories div:nth-child(2){
    background: rgba(255, 206, 86, 1);
    color: white;
}

.categories div:nth-child(3){
    background: rgba(20, 162, 70, 1);
    color: white;
}
.categories div:nth-child(4){
    background: rgba(54, 162, 235, 1);
    color: white;
}
.categories div:nth-child(5){
    background: rgba(75, 192, 192, 1);
    color: white;
}
.categories div:nth-child(6){
    background: rgba(153, 102, 255, 1);
    color: white;
}
.categories div:nth-child(7){
    background: rgba(255, 159, 40, 1);
    color:white
}
canvas{
    width: 100%;
    height: 100%;
    max-height: 500px;
    font-size: 60px;
    object-fit: contain;
}
.wrap1{
    width: 90%;
    height: 600px;
    /* background: pink; */
    display: flex;
    margin: auto;
}
#chartSpace{
    width: 75%;
    height: 550px;
    margin: auto auto;
    position: relative;
    /* background: blue; */
}
#chartSpace > div:active{
    transition: 700ms;
    background: #10243d;
}
#chartSpace .chart:nth-child(1){
    background: rgb(55,74,94);
    animation: revealer 700ms;
    animation-iteration-count: initial;
}

.select > div:nth-child(1){
    background: rgb(32, 62, 94);
}
#chartSpace .chart:nth-child(2){
    background: rgb(48,64,81);
    animation: revealer 700ms;
    animation-iteration-count: initial;
}

.select > div:nth-child(2){
    background: rgb(55,74,94);
}
#chartSpace .chart:nth-child(3){
    background: rgb(126,139,140);
    animation: revealer 700ms;
    animation-iteration-count: initial;
}
.select > div:nth-child(3){
    background: rgb(126,139,140);
}
#chartSpace .chart:nth-child(4){
    background: rgb(148,164,165);
    animation: revealer 700ms;
    animation-iteration-count: initial;
}
.select > div:nth-child(4){
    background: rgb(148,164,165);
}
@keyframes revealer{
    0%{
        opacity: 0;
        filter: blur(6px);
    }
    100%{
        opacity: 1;
        filter: blur(0px);
    }
}
.chart{
    font-size: 500px;
    width: 95%;
    height: 96%;
    /* background: green; */
    margin: 10px auto;
    position: absolute;
    text-align: center;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.466);
}
#otherChart{
    width:25%;
    /* background: green; */
    height: 550px;
    margin: auto auto;
}
.select{
    /* border: 2px solid orange; */
    margin: 0 auto;
    height: 550px
}

.select > div{
    cursor: pointer;
    width: 90%;
    height: 125px;
    background: white;
    color: white;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
    line-height: 125px;
    border-radius: 6px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.384)
}
.users-orgs{
    display: flex;
    /* background: rgb(255, 0, 242); */
    height: 100px;
    width: 100%;
}
.users-orgs > div{
    width: 45%;
    height: 90px;
    line-height: 90px;
    /* background: red; */
    margin: auto auto;
    text-align: center;
    color: white;
    font-weight: bolder;font-size: 2em;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.384)
}
.users-orgs > div:nth-child(1){
    background: #FCC419;
}
.users-orgs > div:nth-child(2){
    background: rgb(100, 212, 100);
}
#one{
    display: block;
}
#two{
    display: none;
}
#three{
    display: none;
}
#four{
    display: none;
}
@import 'material-icons/iconfont/material-icons.scss';