<!--The content below is only a placeholder and can be replaced.-->

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/path/to/material-icons/css/material-icons.min.css">
  <link rel="stylesheet" href="/path/to/material-icons/iconfont/material-icons.css">
</head>

<body>
  
  <div class="content">
    <div class="nav">
      PinHome Dashboard
      
    </div>
    <div class="container">
      <div class="categories">
        <div>{{orph}} Orphanage</div>
        <div>{{oldAge}} Old Age Homes</div>
        <div>{{Rehab}} Rehab Centres</div>
        <div>{{disablty}} Disability</div>
        <div>{{theraphy}} Theraphy</div>
        <div>{{Psychiatric}} Psychiatric Centres</div>
        <div>{{sCenter}} Social Care Centres</div>
      </div>
      <div class="wrap1">
        <div id="chartSpace">
          <div class="chart" id="one">
            <div class="char">
              <canvas id="Overall"></canvas>
            </div>
          </div>
          <div class="chart" id="two">
            <canvas id="ourRatings"></canvas>
          </div>
          <div class="chart" id="three">
            <canvas id="dates"></canvas>
          </div>
          <div class="labler">Viewed Organsiations per Category</div>
          <div class="chart" id="four">
            
            <canvas id="views"></canvas>
          </div>
        </div>
        <div id="otherChart">
          <div class="select">
            <div (click)="show1($event)">Organisations per Category</div>
            <div (click)="show2($event)">Total Organisations per City</div>
            <div (click)="show3($event)">Organisations Registered per Month</div>
            <div (click)="show4($event)">Viewed Organsiations per Category</div>
          </div>
        </div>
      </div><br>
      <div class="users-orgs">
        <div>
         
          {{profiles}} <i class="material-icons">person</i> <b id="userss"> Users</b></div>
        <div>
         
          {{orgs}} <i class="material-icons">account_balance</i> <b id="org"> Organisations</b></div>
      </div>
    </div>
  </div>
</body>

<router-outlet></router-outlet>