<!--The content below is only a placeholder and can be replaced.-->

<head>
  <link rel="stylesheet" href="/path/to/material-icons/css/material-icons.min.css">
</head>

<body>
  <div class="content">
    <div class="nav">
      PinHome Dashboard
      <i class="material-icons">face</i>
    </div>
    <div class="container">
      <div class="categories">
        <div>{{orph}} Orphanage</div>
        <div>{{oldAge}} Old Age Homes</div>
        <div>{{Rehab}} Rehab Centres</div>
        <div>{{disablty}} Disability</div>
        <div>{{theraphy}} Theraphy</div>
        <div>{{Psychiatric}} Psychiatric Centres</div>
        <div>{{sCenter}} Social Care Centres</div>
      </div>
      <div class="wrap1">
        <div id="chartSpace">
          <div class="chart" id="one">
            <div class="chart">
              <canvas id="Overall"></canvas>

            </div>
          </div>
          <div class="chart" id="two">
            <canvas id="ourRatings"></canvas>
          </div>
          <div class="chart" id="three">
            <canvas id="dates"></canvas>
          </div>
          <div class="chart" id="four">
            <canvas id="views"></canvas>
          </div>
        </div>
        <div id="otherChart">
          <div class="select">
            <div (click)="show1($event)">one</div>
            <div (click)="show2($event)">two</div>
            <div (click)="show3($event)">three</div>
            <div (click)="show4($event)">four</div>
          </div>
        </div>
      </div>
      <div class="users-orgs">
        <div>{{profiles}} Users</div>
        <div>{{orgs}} Organisations</div>
      </div>
    </div>
  </div>
</body>

<router-outlet></router-outlet>